<!-- HTML for About page -->
{% extends "base.html" %}

{% block title %}About - UFO Sightings App{% endblock %}

{% block content %}
<div class="about-container">
    <div class="about-section">
        <h1>About UFO Sightings Database</h1>
        <p>This site is a database for Unidentified Flying Objects (UFOs).</p>

        <h2>Dataset(s) Metadata</h2>
        <ul>
            <li><strong>URL:</strong> <a
                    href="https://github.com/planetsig/ufo-reports">https://github.com/planetsig/ufo-reports</a></li>
            <li><strong>Date downloaded:</strong> 4/9/2025</li>
            <li><strong>Authorship:</strong> This dataset was scraped, geolocated, and time-standardized from NUFORC
                data by Sigmond Axel.</li>
            <li><strong>Exact name and version:</strong> ufo-reports, version 1</li>
            <li><strong>Terms of Use:</strong> Allowed for public use</li>
        </ul>
    </div>
</div>
{% endblock %}